

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #c8c8c8;
}

body {
  background-color: #000000;
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
  }

  .desktop-warning {
    display: block;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 2rem;
    font-family: "Roboto", sans-serif;
  }
}


@media screen and (max-width: 767px) {
  .desktop-warning {
    display: none;
  }

  .splash-screen {
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0px 0px 0px;
  
    h3 {
      text-align: center;
      font-style: italic;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 1.5px;
  
      span {
        font-style: normal;
        font-size: 2rem;
        font-weight: 600;
      }
    }
  }
  
  .rotated-city {
    height: 3rem;
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0px 0.8rem;
    overflow: hidden;
    position: relative;
  
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.08), rgba(23, 65, 253, 0.12));
    border-top: 0.5px solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  
    .scroll-track {
      display: flex;
      align-items: center;
      width: fit-content;
      animation: scroll-left 15s linear infinite;
    }
  
    .city {
      display: flex;
      align-items: center;
  
      .dot {
        width: 0.8rem;
        height: 0.8rem;
        margin: 0px 1rem;
      }
  
      p {
        font-family: "Bricolage Grotesque", sans-serif;
        white-space: nowrap;
        color: #d4d4d4;
        letter-spacing: 0.6px;
        font-weight: 300;
        font-size: 0.9rem;

      }
    }
  }
  
  @keyframes scroll-left {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  .splash-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
  
    img {
      width: 80%;
      padding: 1rem 0px;
    }
  }
  
  .tagline {
    text-align: center;
    width: 90%;
  }
  
  .splash-btn {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 85%;
    height: 48px;
    outline: none !important;
    border: none;
    letter-spacing: 0.2px;
    background-color: whitesmoke;
    color: #000;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    svg {
      width: 20px;
    }
  }

  .copyright {
    margin-top: 2.5rem;
    color: rgb(142, 142, 142);
    font-size: 0.9rem;
  }
}



